In [1]:
# 2.
# Part 2a: Create a variable called 'spam'
spam = [2, 4, 6, 8, 10]

# Part 2b: Assign 'hello' as the third value in spam
spam[2] = 'hello'

# Print to confirm
print(spam)

[2, 4, 'hello', 8, 10]

In [2]:
# 3.
# Part 3a: Create a variable called 'letters'
letters = ['a', 'b', 'c', 'd']

# Part 3b: letters[int(int('3'*2)//11)]
result1 = letters[int(int('3'*2)//11)]
print(result1)
# Explanation: '3'*2 -> '33', int('33') = 33, 33//11 = 3, so index = 3. letters[3] = 'd'.

# Part 3c: letters[-1]
result2 = letters[-1]
print(result2)
# Explanation: Negative index -1 means the last element, so result is 'd'.

# Part 3d: letters[:2]
result3 = letters[:2]
print(result3)
# Explanation: [:2] means from start up to (but not including) index 2, so ['a', 'b'].

d
d
['a', 'b']

In [4]:
# 4.
# Convert list to tuple
my_list = [1, 2, 3]
my_tuple = tuple(my_list)
print("Tuple form of list:", my_tuple)

# Convert tuple to list
tuple_to_convert = (4, 5, 6)
list_from_tuple = list(tuple_to_convert)
print("List from tuple:", list_from_tuple)

Tuple form of list: (1, 2, 3)
List from tuple: [4, 5, 6]

In [6]:
# 5.
def comma_code(items):
    if len(items) == 0:
        return ''
    elif len(items) == 1:
        return str(items[0])
    else:
        return ', '.join(str(x) for x in items[:-1]) + ', and ' + str(items[-1])

# Example
spam = ['apples', 'bananas', 'tofu', 'cats']
print(comma_code(spam))

apples, bananas, tofu, and cats