In [2]:
import pandas as pd
df = pd.read_csv('parsed.csv')

In [3]:
# a.
japan = df[(df['place'].str.contains("Japan", case=False, na=False)) & (df['magType'] == 'mb')]
print("95th percentile in Japan (mb):", japan['mag'].quantile(0.95))

95th percentile in Japan (mb): 4.9

In [4]:
# b.
indo = df[df['place'].str.contains("Indonesia", case=False, na=False)]
perc_tsunami = (indo['tsunami'].sum() / len(indo)) * 100
print("Percentage Indonesia quakes with tsunami:", perc_tsunami)

Percentage Indonesia quakes with tsunami: 23.12925170068027

In [5]:
# c.
nevada = df[df['place'].str.contains("Nevada", case=False, na=False)]
print("Nevada summary stats:")
print(nevada['mag'].describe())

Nevada summary stats:
count    677.000000
mean       0.491728
std        0.689560
min       -0.500000
25%       -0.100000
50%        0.400000
75%        0.900000
max        2.900000
Name: mag, dtype: float64

In [6]:
# d.
rof_list = ["Bolivia","Chile","Ecuador","Peru","Costa Rica","Guatemala","Mexico","Japan",
            "Philippines","Indonesia","New Zealand","Antarctica","Canada","Fiji","Alaska",
            "Washington","California","Russia","Taiwan","Tonga","Kermadec"]

def check_rof(x):
    if pd.isna(x):
        return False
    x = x.lower()
    if "new mexico" in x:  # avoid false match
        return False
    for loc in rof_list:
        if loc.lower() in x:
            return True
    return False

df['RingOfFire'] = df['place'].apply(check_rof)

In [7]:
# e.
print("In Ring of Fire:", df['RingOfFire'].sum())
print("Outside Ring of Fire:", len(df) - df['RingOfFire'].sum())

In Ring of Fire: 4422
Outside Ring of Fire: 4910

In [8]:
# f.
print("Tsunami count in Ring of Fire:", df[df['RingOfFire']]['tsunami'].sum())

Tsunami count in Ring of Fire: 43